body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;

    section {
        justify-content: center;
        display: flex;
        height:100%;

        div {
            background-color: rgb(225, 226, 227);
            width: 50vw;
            margin: .5rem;
            text-align: center;
        }
    }
}

.ticket{
    border: 1px solid black;
}

.super-admin-button {
    height: 100px;
    width: 200px;
}

.super-admin-header {
    font-size: 100%;
    margin: 0;
}

.super-admin-list-container {
    border: 1px solid black;
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

.super-admin-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.super-admin-list-item {
    display: flex;
    gap: 20px;
    flex-direction: row;
    border: 1px solid black;
    padding: 10px;
}

.delete-button-div-li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-admin-button {
    width: 100px;
    height: 40px;
}