*{
    margin: 0;
    box-sizing: border-box;
    
body {
  margin: 0;
}

header{
    background-color: bisque;
    height: 100%;
    font-size: 130%;
}

main{
    display: flex;
    flex-direction: column;
    div{
        max-width: 100%;
        align-self: center;
        text-align: center;
        option{
            overflow: hidden;
        }
    }
}


form{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
   
main {
  height: 100vh;
}
.super-admin-button {
  height: 100px;
  width: 200px;
}
.super-admin-header {
  font-size: 100%;
  margin: 0;
}
.super-admin-list-container {
  border: 1px solid black;
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
}
.super-admin-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

select{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    
    

}
input{
    margin: 4px;
.super-admin-list-item {
  display: flex;
  gap: 20px;
  flex-direction: row;
  border: 1px solid black;
  padding: 10px;
}

button{
    max-width: 10rem;
    align-self: center;

}

#messageContainer{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    p{
        align-self: flex-start;
        margin: 0.5rem;
        margin-left: 0;

    }
    Button{
        margin-top: 0.5rem;
        align-self: flex-start;
       
     
    }
.delete-button-div-li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-admin-button {
  width: 100px;
  height: 40px;
}

textarea{
    resize: none;
    background-color: rgb(225, 225, 223);
}
    
