.super-admin-button {
  height: 100px;
  width: 200px;
}

.company-list-container {
  border: 1px solid black;
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
}
.company-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.company-list-item {
  display: flex;
  gap: 20px;
  flex-direction: row;
  border: 1px solid black;
  padding: 10px;
}
.delete-button-div-li {
  display: flex;
  justify-content: center;
  align-items: center;
}
